@font-face {
    font-family: BankGothic;
    src: url('./../fonts/BankGothicLtBTLight.ttf');
}
body{
    background-image: url('./../images/paterrn.png');
    /* background-position: center; */
    background-repeat: repeat;
    /* background-size: contain; */
    background-attachment: fixed;
    font-family: 'BankGothic' !important;
}
.Home_slider{
    height: 290px !important;
}

.HomeHeader{
    position: relative;
}
.header-style-one .header-lower{
    background-color: #26262680 !important;
}
.header-style-one .header-lower:before ,
.header-style-one .header-lower:after{
    border-top: 100px solid #26262680 !important;
}
.logo{
	padding: 5px !important;
}
.logo_home{
	width: 120px;
	height: 90px;
}
.navbar-toggler{
    padding-right: 20px !important;
}

.logo-box{
    width: fit-content !important;
}
.HomeHeader .logo-box{
    width: 100% !important;
}
.navbar-expand-md{
    margin-left: 20px !important;
}
.service-block-two .caption-box h3 a{
	color: #ff8a00;
}

.service-block-two .caption-box h3 a:hover{
	color: #a77132 !important;
}

.sec_title{
    color:#ff8a00;
    font-size: 50px;
}
.specialize-section-two .title-column .text-box h4{
	color: #a5a4a3 !important;
}
.sidebar .search-box .form-group button{
    border-radius: 30px 0 0 30px !important;
    left: 0 !important;
    right: auto !important;
}
.shop-item .accordion-box .block .icon{
    left: 15px !important;
}
.shop-item .accordion-box .block .acc-btn {
    padding-right: 10px !important;
}
.logo_Footer{
	width: 120px;
	height: 120px;
}
.HomeHeader .logo_box{
	width: 100%;
}

.HomeHeader .logo_box .logo{
	display: flex;
    justify-content: center;
    align-items: center;
}

.main-header .logo-box{
    float: right;
}
.page-title:before{
    opacity: 0.6 !important;
}

.header-style-one .nav-outer{
    float: left;
}
.rtl{
    direction: rtl !important;
}
.title-box{
    float: right !important;
}
.bread-crumb {
    float: left !important;
}
.sec-title h2{
    padding: 25px 0 15px 0;
}
.main-footer .footer-column .widget-title {
    padding-right: 25px;
}
.main-footer .footer-column .widget-title:after {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    line-height: 30px;
    color: #e39c05;
    font-weight: 400;
    content: "\f141";
    font-family: "FontAwesome";
    transform: rotate(270deg);
}
.main-footer .footer-column .widget-title:before {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0px;
    line-height: 30px;
    color: #e39c05;
    font-weight: 400;
    content: "";
    font-family: "FontAwesome";
    transform: rotate(0deg);
}

.main-footer .links-widget .list li {
    padding-right: 30px;
}

.main-footer .links-widget .list li:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 0px;
    font-size: 0px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 400;
    content: "";
}

.main-footer .links-widget .list li::after {
    position: absolute;
    right: 0;
    top: 0;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 400;
    content: "\f22b";
    font-family: "FontAwesome";
    transform: rotate(180deg);
}

.projects-section .project-block img{
    height: 320px !important;
}

.text_orange{
    color: #e39c05;
}
.radio-option input:checked + label
{
    border : 1px solid #e39c05;
}
input[type=checkbox] {
    accent-color: #e39c05;
    margin: 4px 0 0;
    line-height: normal;
    width: 15px;
    height: 15px;
}
.c_pointer{
    cursor: pointer;
}
.pa{
    padding: 10px 10px 5px ;
}
.pa:hover{
    cursor: pointer;
}
.Hide{
    display: none;
}
.rounded_pill{
    border-radius: 40px;
}
.king_group{
    width: 200px;
    height: 200px;
}
.scroll-to-top span{
    margin-top: 5px;
}
.checkout-form select{
    background-position: 1% !important;
}
@media (max-width:1150px) {
  
    .header-style-one .nav-outer{
        width: auto !important;
    }
}


@media (max-width:1140px) {
    .header-style-one .header-lower:before ,
.header-style-one .header-lower:after,
    .header-style-one,
    .header-style-one .main-box{
        background-color: #26262680 !important;
    }
   .auto-container{
    padding: 0 !important;
   }
}

@media (max-width:767px) {
    .header-style-one .nav-outer{
        width: 100% !important;
    }
    .navigation li a{
        text-align: right !important;
    }
    .header-style-one .logo-box{
        width: auto !important;
    }
}

@media (min-width:767px) {
    .navigation{
        display: flex;
        flex-direction: row-reverse;
    }
}

/* slider */


#er .swiper {
    width: 250px;
    height: 390px;
  }

  #er .swiper-slide {
    background-color: #fff;
    /* display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold; */
    /* color: #fff; */
  }
  #er .swiper-slide img{
    height: 350px;
    width: 250px;
  }
  #er .swiper-slide a:hover{
    color: #e86f1e;
  }
  


  /* slider 2 */

  #id .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #id  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 360px;
  }

  #id  .swiper-slide img {
    display: block;
    width: 100%;
    height: 320px;

  }
  #id .swiper-slide a:hover{
    color: #e86f1e;
  }
  /*  */

  .trips .swiper-container {
    width: 100%;
    height: 240px;
    margin-bottom: 100px; }
  
  .trips .swiper-slide {
    text-align: center;
    border-radius: 25px;
    width: 200px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-shadow: 5px 5px 5px 0px grey;
            box-shadow: 5px 5px 5px 0px grey;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }

    .trips .swiper-slide p {
        background: #dedede;
        width: 100%;
        height: 40px;
        text-align: center;
        font-weight: 500;
        color: #000;
        border-radius: 100% 100% 22px 20px;
        padding-top: 10px; }